@mixin mulish
  font-family: 'Mulish', sans-serif

@mixin opensans
  font-family: 'Open Sans', sans-serif

@mixin font($weight, $size, $color, $family)
  font-weight: $weight
  font-size: $size
  font-family: $family
  color: $color

$light: 200
$regular: 400
$bold: 700
$black: 900

$font-20: 20px
$font-16: 16px
$font-14: 14px
$font-12: 12px

$font-mulish: 'Mulish', sans-serif
$font-opensans: 'Open Sans', sans-serif
