*
  box-sizing: border-box
  scroll-behavior: smooth
  margin: 0
  padding: 0
  color: $text-primary
  @include font($regular, $font-20, $text-primary, $font-opensans)
  overflow-x: hidden

body
  background-color: $bg
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 20px

input, textarea
  outline: none

textarea
  resize: none

//img
//  object-fit: cover
//  width: 100%

button
  cursor: pointer
