*
  @include dropmarpad
  box-sizing: border-box
  scroll-behavior: smooth
  color: $text-primary
  overflow-x: hidden

html
  line-height: 30px

h1, h2, h3, h4, h5, h6
  @include dropmarpad

body
  background-color: $bg
  //font-style: normal
  //font-weight: normal
  //font-size: 14px
  //line-height: 20px

input, textarea
  outline: none

textarea
  resize: none

//img
//  object-fit: cover
//  width: 100%

button
  cursor: pointer

.container
  max-width: 90vw
  margin: auto
  //GОЧЕМУ ВПРАВО??